@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font: normal 100%/1.3 "Montserrat", sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  width: 85%;
  margin: auto;
  text-align: center;
}

a, li{
  padding: 1rem;
  text-decoration: none;
  font-weight: 600;
}

h1 {
  font-size: 1.383rem;
}

h2 {
  font-size: 1.296rem;
}

h3 {
  font-size: 1.215rem;
}

h4 {
  font-size: 1.138rem;
}

h5, h6 {
  font-size: 1.067rem;
}

small, .text_small {
  font-size: 0.937rem;
  display: block;
  color: white;
  padding: 1rem;
}

/* - - - - - - - - - - Navbar - - - - - - - - - - */

.navbar {
  background-color: #014C4C;
  padding: 1rem;
}

.navbar .logo {
  width: 18rem;
  display: inline-block;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.nav a {
  color: #fff;
}

.nav li {
  display:inline-block;
  padding: 0;
  font-size: 0.8rem;
  text-decoration: underline;
}

a:hover, a:focus {
  color: #991A0F;
}

/* - - - - - - - - - - Main - - - - - - - - - - */

.hero {
  background-image:  url('../img/hero-banner.jpg');
  background-size: cover;
  height: 70vh;
  background-position: center center;
  display: flex;
  align-items: center;
}

.hero .container {
  background-color: rgba(0, 0, 0, 0.322);
  margin: 0;
  width: 100vw;
  padding-bottom: 2rem;
}

.hero-content {
  max-width: 35em;
  margin: 0 auto;
}

.hero-content a:hover, .hero-content a:focus {
  color: white;
}

.hero-content p {
  color: white;
  font-weight: 600;
  padding-bottom: 3rem;
}

.hero-content .btn:hover ,.hero-content .btn:focus {
  background-color: rgba(255, 255, 255, 0.596);
  color: #991A0F;
}

h1 {
  color: #991A0F;
  padding-bottom: 1rem;
}

.btn {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 3rem;
  display: block;
}

.hero-content .btn {
  border-color: #991A0F;
  background-color: #991a0fb0;
}

.cards {
  padding: 4rem 0;
}

.cards .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
}

.card:hover, .card:focus {
  border-color: #991A0F;
  background-color: rgba(0, 0, 0, 0.068);
}

.card-img {
  background-color: #014C4C;
}

.col {
  padding: 1.5rem;
  width: 18rem;
}

.cards h2 {
  color: #991A0F;
}

.cards p {
  color: black;
  padding: 0 2rem;
}

.about {
  background-color: #2C4C4C;
  color: white;
}

.btn-wrap a {
  margin: auto;
}

.about img {
  border-radius: 1rem;
}

.btn-wrap .btn {
  width: 13em;
}

.about-content .btn {
  width: 10em;
  margin: 3rem auto;
  border-color: white;
  color: white;
}

.about-content .btn:hover, .about-content .btn:focus {
  background-color: white;
  color: #2C4C4C;
}

.img-wrap {
  padding-top: 2rem;
}

.about .container {
  padding: 1rem;
}

/* - - - - - - - - - - Footer - - - - - - - - - - */

.footer {
  background-color: #996811;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer a {
  color: white;
}

.footer a:hover, .footer a:focus {
  color: #991A0F;
}

.footer .container {
  padding: 0.5rem;
}

.footer .logo {
  width: 18rem;
  display: inline-block;
}

.nav-footer li {
  display: inline-block;
  padding: 0;
  font-size: 0.8rem;
  text-decoration: underline;
  padding-bottom: 2rem;
}

.sub-footer {
  background-color: #014C4C;
}

.sub-footer li {
  display: inline;
  font-size: 0.8rem;
  padding: 0;
  text-decoration: underline;
}

.sub-footer a:hover, .sub-footer a:focus {
  color: #991A0F;
}

/* --------------------------------- Layout @ 40em -------------------------------- */

@media only screen and (min-width: 40em) { 

  h1 {
    font-size: 1.802rem;
  }
  
  h2 {
    font-size: 1.602rem;
  }
  
  h3 {
    font-size: 1.424rem;
  }
  
  h4 {
    font-size: 1.266rem;
  }
  
  h5, h6 {font-size: 1.125rem;}
  
  small, .text_small {font-size: 0.889rem;}


  /* - - - - - - - - - - Navbar - - - - - - - - - - */
  
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .navbar .nav {
    align-self: center;
  }

  .nav li {
    font-size: 1rem;
  }

  /* - - - - - - - - - - Main - - - - - - - - - - */

  .col {
    display: flex;
    flex-basis: 20rem;
  }

  .card-content {
    display: flex;
    flex-direction: column;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .card-content p {
    padding: 0;
  }

  .about .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .about .img-wrap {
    flex: 1 1 5rem;
    padding: 0;
    min-width: 18rem;
    max-width: 30rem;
    margin: auto;
  }

  .about-content {
    flex: 2 1 10rem;
    padding: 0 1.5rem;
    min-width: 30rem;
  }

  /* - - - - - - - - - - Footer - - - - - - - - - - */

  .footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
  }

  .footer .logo {
    margin-right: 3rem;
    flex-shrink: 1;
  }

  .nav-footer {
    flex-shrink: 0;
  }

  .nav-footer li {
    padding: 0;
  }

  .sub-footer ul{
    flex-shrink: 0;
  }

  .sub-footer small {
    flex-shrink: 0;
  }
}

/* --------------------------------- Layout @ 80em -------------------------------- */

@media only screen and (min-width: 80em) { 

  h1 {
    font-size: 2.488rem;
  }
  
  h2 {
    font-size: 2.074rem;
  }
  
  h3 {
    font-size: 1.728rem;
  }
  
  h4 {
    font-size: 1.44rem;
  }
  
  h5, h6 {
    font-size: 1.2rem;
  }
  
  small, .text_small {
    font-size: 0.833rem;
  }

  /* - - - - - - - - - - Main - - - - - - - - - - */

  .hero-content {
    min-width: 70%;
  }

  .col {
    width: 50rem;
    flex-shrink: 0;
  }

  .card {
    width: 19rem;
  }
}